<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <!-- Мета-теги для адаптивности -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Пользовательские стили -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<main class="container mt-4">

<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
            <div class="text-center">
                <div class="d-flex flex-column align-items-center justify-content-center"><img src="https://cdn-icons-png.flaticon.com/512/564/564619.png" alt="404 Error Icon" style="width: 100px; height: 100px;" class="mb-4"></div>
                <h1 class="display-4 text-warning">404 - Page Not Found</h1>
                <p class="lead mt-4 text-secondary">Sorry, the page you are looking for could not be found.</p>
                <hr class="my-4" style="width: 50%;">
                <p class="mb-4 text-muted">
                    It might have been removed, had its name changed, or is temporarily unavailable.
                </p>
                <a href="/" class="btn btn-primary btn-lg">Return to Home</a>
            </div>
        </div>
    </div>
</body>
</main>
</html>

